<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>@ViewBag.Title - Breathe And Believe</title>
    
    <!-- Favicon -->
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <!-- Nice Select CSS -->
    <link rel="stylesheet" href="~/css/nice-select.css">
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <!-- icofont CSS -->
    <link rel="stylesheet" href="~/css/icofont.css">
    <!-- Slicknav -->
    <link rel="stylesheet" href="~/css/slicknav.min.css">
    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="~/css/owl-carousel.css">
    <!-- Datepicker CSS -->
    <link rel="stylesheet" href="~/css/datepicker.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="~/css/animate.min.css">
    <!-- Magnific Popup CSS -->
    <link rel="stylesheet" href="~/css/magnific-popup.css">

    <link rel="stylesheet" href="~/style.css">
    <link rel="stylesheet" href="~/css/responsive.css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="padding-top:unset; padding-bottom:unset">


    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light ">
        <a class="navbar-brand" href="/Home/Index">
            <img src="~/Images/logo.PNG" class="img_logo">
        </a>
        <a href="/Home/Index" class="navbar-brand">
            Safe Lungs At Work

        </a>
        @*<a class="navbar-brand" href="#">Breathe And Believe</a>*@
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor03">

            <ul class="navbar-nav ml-auto nav-pills">
                <li class="nav-item">
                    <a class="nav-link" href="/Home/Index">Home <span class="sr-only">(current)</span></a>
                </li>
                @*<li class="nav-item">
            <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>*@
                @*</li>*@
                <li class="nav-item">

                    <a class="nav-link" href="/Home/Claims">Policies</a>
                </li>
                <li class="nav-item">

                    <a class="nav-link" href="/Home/Maps">Maps</a>
                </li>
                <li class="nav-item">

                    <a class="nav-link" href="/Home/GeneralLungInfo">General Lung Info</a>
                </li>
               


                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="/Home/ViewDiseases" role="button" aria-haspopup="true" aria-expanded="false">OLDs</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/Home/Asthma/#main">Asthma</a>
                        <a class="dropdown-item" href="/Home/COPD/#main">COPD</a>
                        <a class="dropdown-item" href="/Home/LungCancer/#main">Lung Cancer</a>
                        <a class="dropdown-item" href="/Home/Pneumoconiosis/#main">Pneumoconiosis</a>
                        <a class="dropdown-item" href="/Home/Mesothelioma/#main">Mesothelioma</a>
                        <a class="dropdown-item" href="/Home/Silicosis/#main">Silicosis</a>
                        <a class="dropdown-item" href="/Home/Asbestosis/#main">Asbestosis</a>
                        <a class="dropdown-item" href="/Home/ViewDiseases/#disease">View All Diseases</a>

                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="/Home/Industries" role="button" aria-haspopup="true" aria-expanded="false">Industries</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/Home/Mining/#risk">Mining</a>
                        <a class="dropdown-item" href="/Home/Construction/#risk">Construction</a>
                        <a class="dropdown-item" href="/Home/Manufacturing/#risk">Manufacturing</a>
                        <a class="dropdown-item" href="/Home/Industries/#industry">View All Industries</a>
                    </div>
                </li>
                <li class="nav-item">

                    <a class="nav-link" href="/Home/HazardLimit">Hazardous substances</a>
                </li>
                <li class="nav-item">

                    <a class="nav-link" href="/Home/About">About</a>
                </li>

            </ul>

        </div>
    </nav>



    <div>


        @RenderBody()
        <hr />
        <!-- Footer Area -->
        <footer id="footer" class="footer ">
            <!-- Footer Top -->
            @*<div class="footer-top">
                    <div class="container">
                        <div class="row">

                            <div class="col-lg-3 col-md-6 col-12">
                                <div class="single-footer f-link">
                                    <h2>Quick Links</h2>
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-12">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Home</a></li>

                                            </ul>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-12">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>About Us</a></li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>




                        </div>
                    </div>
                </div>*@
            <div class="copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-12">
                            <div class="copyright-content">
                                <p style="text-align:center; font-size:14px">Copyright ©2020 All rights reserved | This website is made by Respiratory Repairers </p>
                                <p style="text-align:center; font-size:14px">Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik" style="font-size:14px">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"style="font-size:14px"> www.flaticon.com</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/ End Footer Top -->

        </footer>
    </div>
    <script src="~/Scripts/jquery.scrollUp.min.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @Scripts.Render("~/Scripts/jquery.scrollUp.min.js")
    
    @RenderSection("scripts", required: false)
    <script>


        $(".nav .nav-link").on("click", function () {
            $(".nav").find(".active").removeClass("active");
            $(this).addClass("active");
        });

    </script>
</body>

</html>
