


@{
    ViewBag.Title = "Home Page";
}
<head>

    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="Site keywords here">
    <meta name="description" content="">
    <meta name='copyright' content=''>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="~/Content/icofont.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/5699d7698c.js" crossorigin="anonymous"></script>
    <link href="~/Content/lungmap.css" rel="stylesheet" />
</head>




<!-- Slider Area -->
<section class="slider">
    <div class="hero-slider">
        <!-- Start Single Slider -->
        <div class="single-slider" style="background-image:url('../../Images/construction-homee.jpg')">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="text">
                            <br /><br /><br />
                            <h1>Protect <span>Lungs</span> at <span>Work</span>!</h1>
                            <div class="button">
                                <a href="~/Home/Questionnaire" class="btn btn-primary">Find out if you are at risk</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="single-slider" style="background-image:url('../../Images/new_homepage_pic1.jpg')">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="text">
                            <br /><br /><br />
                            <h1>Prevent <span>OLD</span> before you grow <span>Old!</span></h1>
                            <div class="button">
                                <a href="~/Home/Questionnaire" class="btn btn-primary">Find out if you are at risk</a>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Single Slider -->
        <!-- Start Single Slider -->
        <div class="single-slider" style="background-image:url('../../Images/mine-home.jpg')">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="text">
                            <br /><br /><br />
                            <h1>Help your <span>Lungs</span> while you still can!</h1>
                            <div class="button">
                                <a href="~/Home/Questionnaire" class="btn btn-primary">Find out if you are at risk</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Start End Slider -->
        <!-- Start Single Slider -->
        <!-- End Single Slider -->
    </div>
</section>
<!--/ End Slider Area -->
<!-- Start Schedule Area -->
<section class="schedule">
    <div class="container ">
        <div class="schedule-inner">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-12 ">
                    <!-- single-schedule -->
                    <div class="single-schedule first">
                        <div class="inner bg-primary">
                            <div class="icon">
                                <i class="fas fa-lungs"></i>
                            </div>
                            <div class="single-content">
                                @*<span>Lorem Amet</span>*@
                                <h4>Know about Occupational Lung Diseases(OLDs)</h4>
                                <p>Occupational Lung Diseases are lung conditions caused or made worse by the occupational exposure. Most of these diseases are preventable. </p>
                                <a href="~/Home/ViewDiseases/#disease">Find out if you are at risk<i class="fa fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- single-schedule -->
                    <div class="single-schedule middle">
                        <div class="inner bg-primary">
                            <div class="icon">
                                <i class="fas fa-industry"></i>
                            </div>
                            <div class="single-content">
                                @*<span>Fusce Porttitor</span>*@
                                <h4>See the risks your workplace poses for you</h4>
                                <p>The damage you do to your lungs today cannot be reversed tomorrow. Make sure you know the risks related to your occupation.</p>
                                <a href="~/Home/Industries/#industry">Find out if you are at risk<i class="fa fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-12">
                    <!-- single-schedule -->
                    <div class="single-schedule middle">
                        <div class="inner bg-primary">
                            <div class="icon">
                                <i class="fas fa-question"></i>
                            </div>
                            <div class="single-content">
                                @*<span>Fusce Porttitor</span>*@
                                <h4>Enhance your knowledge about OLDs</h4>
                                <p>
                                    Enhance your knowlede about OLDs through this quiz. Check your knowledge about the general precautions, symptoms related to OLDs.
                                </p>

                                <a href="~/Home/Quiz">Take the quiz<i class="fa fa-long-arrow-right"></i></a>

                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>
<!--/End Start schedule Area -->
<!--? About-2 Area Start -->
<div class="jumbotronmodify container">
    <div class="about-area2 section-padding40">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5 col-md-12">
                    <div class="container1">
                        <input type="checkbox" class="input" id="input1" name="inputs">
                        <input type="checkbox" class="input" id="input2" name="inputs">
                        <input type="checkbox" class="input" id="input3" name="inputs">
                        <input type="checkbox" class="input" id="input4" name="inputs">
                        <input type="checkbox" class="input" id="input5" name="inputs">
                        <label for="input1">
                            <div id="b1" class="circlebutton">1</div>
                        </label>
                        <label for="input2">
                            <div id="b2" class="circlebutton">2</div>
                        </label>
                        <label for="input3">
                            <div id="b3" class="circlebutton">3</div>
                        </label>
                        <label for="input4">
                            <div id="b4" class="circlebutton">4</div>
                        </label>
                        <label for="input5">
                            <div id="b5" class="circlebutton">5</div>
                        </label>
                        <div id="content1" class="content">
                            <div style="text-align: right;">
                                <label for="input1" class="cross">X</label>
                            </div>
                            <h2>Bronchi</h2>
                            <p class="bodyCopy"><b>Asthma and COPD</b> mainly affects Bronchi part of lungs</p>
                            <a href="~/Home/Asthma" class="btn btn-primary">Asthma</a>
                            <a href="~/Home/COPD" class="btn btn-primary">COPD</a>
                        </div>
                        <div id="content2" class="content">
                            <div style="text-align: right;">
                                <label for="input2" class="cross">X</label>
                            </div>
                            <h2>Cell Tissues</h2>
                            <p class="bodyCopy"><b>Lung Cancer and Mesothelioma</b> mainly affects cell tissues in lungs and multiplies its cell tissues</p>
                            <a href="~/Home/LungCancer" class="btn btn-primary">Lung Cancer </a>
                            <a href="~/Home/Mesothelioma" class="btn btn-primary">Mesothelioma</a>
                        </div>
                        <div id="content3" class="content">
                            <div style="text-align: right;">
                                <label for="input3" class="cross">X</label>
                            </div>
                            <h2>Upper Lobe</h2>
                            <p class="bodyCopy"><b>Silicosis</b> mainly affects upper lobe part of lungs</p>
                            <a href="~/Home/Silicosis" class="btn btn-primary">Silicosis</a>

                        </div>
                        <div id="content4" class="content">
                            <div style="text-align: right;">
                                <label for="input4" class="cross">X</label>
                            </div>
                            <h2>Interstetial Lungs</h2>
                            <p class="bodyCopy"><b>Pneumoconiosis</b> mainly affects interstetial part of lungs</p>
                            <a href="~/Home/Pneumoconiosis" class="btn btn-primary">Pneumoconiosis</a>
                        </div>
                        <div id="content5" class="content">
                            <div style="text-align: right;">
                                <label for="input5" class="cross">X</label>
                            </div>
                            <h2>Alveolus</h2>
                            <p class="bodyCopy"><b>Asbestosis</b> mainly affects alveolus part of lungs</p>
                            <a href="~/Home/Asbestosis" class="btn btn-primary">Asbestosis</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-md-12">
                    <div class="about-caption">
                        <!-- Section Tittle -->
                        <div class="section-tittle mb-35">
                            <h2>
                                What are Occupational Lung Diseases?
                            </h2>
                        </div>
                        <p class="pera-top mb-40"><span>Occupational Lung Diseases(OLDs)</span> are lung conditions caused by the inhalation of <span>toxic substances</span> in the work-related environment.</p>
                        <p class="pera-bottom mb-30">
                            <span>Occupational exposure</span> contributes substantially to the <span>burden of lung disease </span>in Australia.
                            There are many occupations which have <span>harmful impact </span>on the lungs of the people.
                            Some of the occupational lung diseases are developed slowly and might take <span>several years to become symptomatic</span> after the first exposure.
                        </p>

                    </div>
                </div>
            </div>
            <br />
            <br />

            <div class="row align-items-center">
                <div class="col-lg-5 col-md-12">
                    <div class="about-caption">
                        <!-- Section Tittle -->
                        <p class="pera-top mb-40">How Do I Know If My <span>Lung Disease </span>Is <span>Work-Related</span>?
                        <p class="pera-bottom mb-30">
                            Generally, if your symptoms are <span>
                                worse on days when you are at work
                            </span> and improve when you are at
                            home for any length of time (weekends, vacations) and then recur when you return to work,
                            chances of <span>
                                Occupational Lung Diseases
                            </span> should be considered. Lung damage cannot be reversed.
                            So it is better to protect it at an early stage in your life. Watch this <span>video</span> to know more!
                        </p>
                    </div>
                </div>
                <div class="col-lg-7 col-md-12">
                    <div class="about-caption">
                        @*<video width="550" height="400" controls>
                                <source src="https://vimeo.com/user123491740/review/459615698/aed2f70d54" type="video/mp4">
                            </video>*@
                        <iframe src="https://streamable.com/e/lpxo5z" width="550" height="400" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
    </div>
</div>


<!-- About-2 Area End -->


<br />
<br />



<!-- Card made with photoshop Start-->
@*<div class="container-fluid ">
        <div class="row justify-content-center">
            <div class="col-5">
                <ul class="gallery animated slideInUp">
                    <li>
                        <a href="~/Home/ViewDiseases">
                            <div class="card" style="border:none; box-shadow:none">
                                <img src="~/Images/find_out_more.png" alt="Picsum Photo">
                                <img src="~/Images/find_out_more_back.png" class="img-top" />
                            </div>
                        </a>
                    </li>
                    <li><img src="~/Images/homepage_card_1.png" alt="Picsum Photo"></li>
                </ul>
            </div>
            <div class="col-5">
                <ul class="gallery animated slideInUp">
                    <li>
                        <a href="~/Home/Industries">
                            <div class="card" style="border:none; box-shadow:none">
                                <img src="~/Images/find_out_more.png" alt="Picsum Photo">
                                <img src="~/Images/find_out_more_back.png" class="img-top" />
                            </div>
                        </a>
                    </li>
                    <li><img src="~/Images/homepage_card_2_v2.png" alt="Picsum Photo"></li>
                </ul>
            </div>

        </div>

    </div>*@
<!-- Card made with photoshop End-->




<div style="background-color:#ffffff">
    <br />
    <br />
    <br />
    <br />
</div>



@*<div class="row justify-content-center">
        <div class="col-6 align-self-center">
            <p class="lead">
                Everyone is busy in their occupations and sometimes neglect the risk factors that are being involved when they work in their occupations and in the long-term this may lead to severe health problems.
                Make your occupations a better, safe and healthier place to work.
                Occupational Lung Diseases(OLDs) are Work-related problems caused by the inhalation of toxic substances in the work-related environment.
            </p>
        </div>
        <div class="col-6">

            <img src="~/Images/SMOKE.jpg" class="img-fluid d-block" alt="Responsive image">
        </div>

    </div>*@






<script src="~/Scripts/bootstrap-datepicker.js"></script>
<script src="~/Scripts/colors.js"></script>
<script src="~/Scripts/isotope.pkgd.min.js"></script>
<script src="~/Scripts/jquery-migrate-3.0.0.js"></script>
<script src="~/Scripts/jquery-ui.min.js"></script>
<script src="~/Scripts/jquery.counterup.min.js"></script>
<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/jquery.magnific-popup.min.js"></script>
<script src="~/Scripts/jquery.nav.js"></script>
<script src="~/Scripts/jquery.scrollUp.min.js"></script>
<script src="~/Scripts/main.js"></script>
<script src="~/Scripts/map-active.js"></script>
<script src="~/Scripts/masonry.pkgd.min.js"></script>
<script src="~/Scripts/owl-carousel.js"></script>
<script src="~/Scripts/niceselect.js"></script>
<script src="~/Scripts/popper.min.js"></script>
<script src="~/Scripts/slicknav.min.js"></script>
<script src="~/Scripts/steller.js"></script>
<script src="~/Scripts/tilt.jquery.min.js"></script>
<script src="~/Scripts/wow.min.js"></script>
@Scripts.Render("~/Scripts/bootstrap-datepicker.js")
@Scripts.Render("~/Scripts/colors.js")
@Scripts.Render("~/Scripts/isotope.pkgd.min.js")
@Scripts.Render("~/Scripts/jquery-migrate-3.0.0.js")
@Scripts.Render("~/Scripts/jquery-ui.min.js")
@Scripts.Render("~/Scripts/jquery.counterup.min.js")
@Scripts.Render("~/Scripts/jquery.min.js")
@Scripts.Render("~/Scripts/jquery.magnific-popup.min.js")
@Scripts.Render("~/Scripts/jquery.nav.js")
@Scripts.Render("~/Scripts/jquery.scrollUp.min.js")
@Scripts.Render("~/Scripts/main.js")
@Scripts.Render("~/Scripts/map-active.js")
@Scripts.Render("~/Scripts/masonry.pkgd.min.js")
@Scripts.Render("~/Scripts/owl-carousel.js")
@Scripts.Render("~/Scripts/niceselect.js")
@Scripts.Render("~/Scripts/popper.min.js")
@Scripts.Render("~/Scripts/slicknav.min.js")
@Scripts.Render("~/Scripts/steller.js")
@Scripts.Render("~/Scripts/tilt.jquery.min.js")
@Scripts.Render("~/Scripts/wow.min.js")

